.table-wrapper {
  margin: 40px auto 0;
}

.table {
  border-collapse: collapse;
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}

.table td, .table .table-header {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-cell.vendor-name-link,
.table-cell.product-name {
  text-transform: capitalize;
}

.table-header {
  background-color: rgb(73, 71, 71);
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}