.toast-message-container {
  border-radius: 4px;
  padding: 10px;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}

.toast-message-container .toast-message {
  margin: 0;
}

.successful-message {
  background-color: green;
}

.successful-message .toast-message {
  color: white;
}
